<!DOCTYPE html>
<html lang="en" ng-app="LunchCheckerApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Lunch Checker Assignment By Y.S </title>
</head>

<body >
    <div ng-controller="LunchCheckerController">
        <h1>Lunch Checker</h1>
        <div>
            <input type="text" placeholder="No of dishes you usually have for lunch" ng-model="noDishes">
        </div>
        <br>
        <div>
            <button ng-click="checkLunch()">Check If Too Much</button>
        </div>
        <div ng-show="!empty && checked">{{message}}</div>
        <br>
        <div ng-show="empty">Please enter data first</div>
    </div>
</body>

</html>
